<div class="container">
  <div class="row">
    <div id ="homepage_block" class="col-md-12" align="center" >
      <h4>Welcome to @sitetitle@</h4>
      <!--
      <img src="/images/WEBSITELOGO"/>
      -->
      <br/>
      <a href="/@item@/list" class="btn btn-primary btn-lg">Browse the database</a>
    </div>
  </div>
</div>
